* {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
}

#updated {
    position: fixed;
}

.lead_card {
    text-decoration: underline;
}

.play_table td sub {
    display: None;
}

.bad_card {
    background-color: #dd2200;
}
.bad_card sub {
    display: inline !important;
}
