* {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
}

#updated {
    position: fixed;
}

.lead_card {
    text-decoration: underline;
}
