* {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
}

#updated {
    position: fixed;
}

.lead_card {
    text-decoration: underline;
}

.play_table td sub {
    display: None;
}

.bad_card {
    background-color: #dd2200;
}
.bad_card sub {
    display: inline !important;
}

.played_card {
    color: #aaa;
    display: None;
}

.playing_card.lead_card{
    background-color: #002eff;
    border: 2px black;
}

.playing_card {
    background-color: #7891ff;
}

.playing_card.bad_card{
    background-color: #dd2200;
}

.play_seq .played_card{
    display: table-cell;
}

