<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title%} BBO {% endblock%} </title>
    <link rel="stylesheet" type="text/css" href="static/base.css">
    <script src="static/jquery-1.11.2.min.js"></script>
    <script src="static/jquery-ui-1.11.2.min.js"></script>
    <script src="static/socket.io-0.9.16.min.js"></script>
    <script src="static/base.js"></script>
</head>
<body>
{% block body %}
<div id='msg'>connecting to {{address}} @ {{ port }} ... </div>
<embed src="static/bbo/BBOMainLine.swf" quality="high" wmode="transparent" bgcolor="#869ca7" name="BBOMainLine" allowscriptaccess="sameDomain" pluginspage="http://www.adobe.com/go/getflashplayer" flashvars="s={{address}}&port={{port}}&altport=80&vugraphonly=n&language=en" type="application/x-shockwave-flash" align="middle" height="100%" width="100%">

{% endblock %}
</body>
</html>
