{% macro render_hand(seat, label, hand, board_num) %}
<p><b>{{seat}}: {{label}}</b></p>
    {% for h in hand %}
    <p><b>{{h[0]}}</b> {% for c in h[1]%}<span id="deal_{{board_num}}_{{h[0]}}{{c}}" >{{c}}</span>{% endfor %}
    {% endfor %}
{% endmacro %}

{% macro seat_row(seats) %}
    {% for seat in seats %}
    <td><b>{{seat}}</b></td>
    {% endfor %}
{% endmacro %}

{% with seats = "NESW" %}
<div id='board_{{board_num}}'>
    <table>
        <tr>
<td class='deal' id="deal_{{board_num}}">
<table>
    <tr>
        <td>
        </td>
        <td>
            {{ render_hand("N", deal.labelnorth, deal.all.N, board_num)}}
        </td>
        <td>
        </td>
    </tr>
    <tr>
        <td>
            {{ render_hand("W", deal.labelwest, deal.all.W, board_num)}}
        </td>
        <td>
            Board {{board_num}}
        </td>
        <td>
            {{ render_hand("E", deal.labeleast, deal.all.E, board_num)}}
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            {{ render_hand("S", deal.labelsouth, deal.all.S, board_num)}}
        </td>
        <td>
        </td>
    </tr>
</table>
</td>

<td id="play_seq_{{board_num}}" class="play_seq">
    Vul: {{deal.vul_parsed}} <br />
    Bidding
    <table>
        <tr>
            {{ seat_row(seats) }}
        </tr>
        <tr>
        {% for i in range(deal.dealer_num)%}
            <td></td>
        {% endfor %}
        {% for bid in bids %}
        <td class="{% if bid.alert == "Y"%}bid_alert{%endif%} {% if bid.explain%}bid_explain{%endif%}" title='{{bid.explain}}'>{{bid.call}}</td>
        {% if (loop.index + deal.dealer_num) % 4 == 0 %}
        </tr>
        <tr>
        {% endif%}
        {% endfor %}
    </table>
    <p>
    Result: {{deal.result}}
    {% if analysis.play_tricks %}
    <br /> Tricks: {{deal.declarer}} {{analysis.play_tricks[-1]}}/{{analysis.play_tricks[0]}}
    {% endif %}
    </p>
        
    <table class="play_table">
        <tr>
            {% for seat in seats %}
            <td><b>{{seat}}</b></td>
            {% endfor %}
        </tr>
        {% for round in analysis.play_anotated%}
        <tr>
            {% for card in round %}
            <td class=" {%if card[3]%}lead_card{%endif%} {%if card[2] != 0%}bad_card{%endif%} play_seq_card unplayed_card">
                <span>{{card[0]}}</span><sub>{{"{:+d}".format(card[2])}}</sub>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</td>

<td>
    <p><b>Par</b></p>
    <p>
        {% for par in analysis.par.contracts %}
        {{par}} <br />
        {% endfor %}
        Par Score: NS{{"{:+d}".format(analysis.par.score)}}
    </p>
    <p><b>Trick Matrix</b></p>
    <table>
        <tr>
            <td></td>
            {% for seat in seats %}
            <td><b>{{seat}}</b></td>
            {% endfor %}
        </tr>
        {% for res in analysis.par.dd_table[::-1] %}
        <tr>
            <td><b>{{res[0]}}</b></td>
        {% for trick in res[1] %}
        <td>{{trick}}</td>
        {% endfor %}
        </tr>
        {% endfor %}
    </table>
</td>


<td id="other_table_{{board_num}}">
</span>
</td>

</tr>
</table>
    
</div>
{% endwith %}

<script>
    var selector = '#board_{{board_num}} .play_seq_card';
    $(selector).click(function(){
        var all_card = $(selector);
        var card_num = -1;
        for (var i=0; i<all_card.length; i++){
            if (all_card[i] === this){
                card_num = i;
                console.log("found card num", card_num);
            };
        };
        if (card_num < 0) return;

        played_card_num = (Math.floor(card_num / 4)) * 4;
        
        for (var i=0; i<all_card.length; i++){
            card_name = $(all_card[i]).children("span").text();
            card_obj = $('#deal_{{board_num}}_'+card_name);
            if (i < played_card_num){
                card_obj.switchClass("lead_card bad_card playing_card", "played_card");
            } else if (played_card_num <= i && i < played_card_num + 4){
                card_obj.switchClass("lead_card bad_card played_card", "playing_card");
                console.log(all_card[i]);
                if ($(all_card[i]).hasClass("lead_card")){
                    console.log(all_card[i], "lead");
                    card_obj.addClass("lead_card", 400);
                }
                if ($(all_card[i]).hasClass("bad_card")){
                    console.log(all_card[i], "bad");
                    card_obj.addClass("bad_card", 400);
                }
            } else if (played_card_num + 4<= i){
                card_obj.removeClass("lead_card bad_card played_card playing_card");
            };
            if (i < card_num){
                $(all_card[i]).addClass("played_card");
            } else {
                $(all_card[i]).removeClass("played_card");
            }


        };
    });
</script>
