{% macro render_hand(label, hand) %}
    <p><b>N: {{deal.labelnorth}}</b></p>
    {% for hand in deal.all.N %}
    <p><b>{{hand[0]}}</b> {{hand[1]}}
    {% endfor %}
{% endmacro %}

{% macro seat_row(seats) %}
    {% for seat in seats %}
    <td><b>{{seat}}</b></td>
    {% endfor %}
{% endmacro %}

{% with seats = "NESW" %}

<div id='board_{{board.board}}'>
<span class='deal' id="deal_{{board.board}}">
<table>
    <tr>
        <td>
            <p>Vul: {{deal.vul}}</p>
            <p>Result: {{board.result}}</p>
            <p>Score: {{board.scorens}}</p>
            <p>IMP: </p>
        </td>
        <td>
            {{ render_hand(deal.labelnorth, deal.all.N)}}
        </td>

        <td>
            <p><b>Par:</b></p>
            <ul>
                {% for par in analysis.par %}
                <li> par </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr>
        <td>
            {{ render_hand(deal.labelwest, deal.all.W)}}
        </td>
        <td>
            Board {{board.board}}
        </td>
        <td>
            {{ render_hand(deal.labeleast, deal.all.E)}}
        </td>
    </tr>
    <tr>
        <td>
            Bidding
            <table>
                <tr>
                    {{ seat_row(seats) }}
                </tr>
                <tr>
                {% for i in range(deal.dealer_num)%}
                    <td></td>
                {% endfor %}
                {% for bid in bids %}
                <td class="{% if bid.alert == "Y"%}bid_alert{%endif%} {% if bid.explain%}bid_explain{%endif%}" title='{{bid.explain}}'>{{bid.call}}</td>
                {% if (loop.index + deal.dealer_num) % 4 == 0 %}
                </tr>
                <tr>
                {% endif%}
                {% endfor %}
            </table>

                    
                    

        </td>
        <td>
            {{ render_hand(deal.labelsouth, deal.all.S) }}
        </td>
        <td>
            matrix
        </td>
    </tr>
</table>
</span>

<span id="play_seq_{{board.board}}">
    <table>
        <tr>
        </tr>
        {% for round in analysis.play_anotated%}
        <tr>
            {% for card in round %}
            <td class="{%if card[3]%}lead_card{%endif%} {%if card[2]>0%} good_card {%endif%} {%if card[2]>0%} bad_card {%endif%}">
                    {{card[0]}}<sub>{{"{:+d}".format(card[2])}}</sub>
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</span>
<span id="other_table_{{board.board}}">
    other tables
</span>
</div>
{% endwith %}
